<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <!-- This configuration is in USE. -->
    <add key="client.endpoint.identity.dns" value="CHANGE_ME_CERT_IDENTITY" />
    <add key="client.endpoint.address" value="CHANGE_ME_ENDPOINT" />
    <add key="behaviors.endpointBehaviors.behavior.clientCredentials.clientCertificate.findValue" value="CHANGE_ME_THUMBPRINT_CLIENT" />
    <add key="behaviors.endpointBehaviors.behavior.clientCredentials.serviceCertificate.findValue" value="CHANGE_ME_THUMBPRINT_SERVER" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- IMPORTANT: There are 3 sections below with configuration marked NOT IN USE.
       The code in Program.cs overrides these 3 sections due to the fact that WCF configuration via
       App.config XML does not provide the option that ensures that the BinarySecurityToken
       is signed in the request.
       
       The sections have been left here in the event that WCF one day gets this option!
    -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <!-- 1. The following behaviour definition is NOT in use. -->
        <behavior name="ClientAuthenticationBehavior">
          <clientCredentials>
            <clientCertificate findValue="CHANGE_ME_FRIENDLY_NAME"
              storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="CHANGE_ME_THUMBPRINT"
                storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <!-- 2. The following customBinding definition is NOT in use. -->
        <binding name="emcsCustomBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security defaultAlgorithmSuite="TripleDesRsa15" authenticationMode="MutualCertificate" allowSerializedSigningTokenOnReply="true"
            requireDerivedKeys="false" securityHeaderLayout="Lax" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localServiceSettings timestampValidityDuration="00:05:00" />
          </security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
        <!-- 3. The following endpoint definition is NOT in use. -->
      <endpoint address="CHANGE_ME_ENDPOINT"
        behaviorConfiguration="ClientAuthenticationBehavior" binding="customBinding"
        bindingConfiguration="emcsCustomBinding" contract="EMCS.OIOLedsageDokumentOpretServicePortType"
        name="OIOLedsageDokumentOpretServicePort">
        <identity>
          <dns value="Skatteministeriet - B2B gateway TSE TEST" />
        </identity>
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="5000" maxSizeOfMessageToLog="550000" logKnownPii="true"/>
      <endToEndTracing activityTracing="false" messageFlowTracing="true" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\TracingAndLogging-client.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>